<connectionStrings>
  <add name="AZURE"
    providerName="System.Data.ProviderName"
    connectionString="Server=jbliss02db.database.windows.net;
    Database=captures;
    User ID=sqladmin;
    Password=fO5t!a9?9;
    Trusted_Connection=False;
    Encrypt=True;" />

  <add name="LOCALDB"
    providerName="System.Data.ProviderName"
    connectionString="Data Source=(localdb)\MSSQLLocalDB;
    Initial Catalog=captures;
    Integrated Security=True;
    Connect Timeout=30;
    Encrypt=False;"/>
</connectionStrings>
