<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>
    <add key="SaveLocation" value="f:\captures" />
    <add key="MotionSaveLocation" value ="f:\motion"/>
    <add key="FramesPerBroadcast" value="100"/>
    <add key="BacklogCheckMs" value="2500"/>
  </appSettings>
  <connectionStrings configSource="connections.config"/>
</configuration>
