<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>
    <add key="SaveLocation" value="f:\captures" />
    <add key="MotionSaveLocation" value ="f:\motion"/>
    <add key="FramesPerBroadcast" value="100"/>
    <add key="backlogCheckMs" value="10000"/>
    <add key="alarmPrimedText" value="A movement detection session has started, you will be emailed notification of any movement detected"/>
    <add key="alarmText" value="Motion has been detected"/>
    <add key="alarmEmailSubject" value="Motion Detector"/>
    <add key="maxEmailImages" value="10"/>
    <add key="secondsBetweenAlarms" value ="60"/>
    <add key="minimumMovementsForAlarm" value="3"/>
    <add key="imagesInThreshold" value="20"/>
    <add key="regulationFormula" value="15P:1F"/>
    <add key="regulationLogFile" value="f:\temp\regulationanalysis.txt"/>
    <add key="backlogSpeedup" value="60"/>
    <add key="backlogSlowdown" value="30"/>
  </appSettings>
  <connectionStrings configSource="connections.config"/>
  <system.net>
    <mailSettings>
      <smtp from="jimmy.bliss999@gmail.com">
        <network
          host="smtp.gmail.com"
          port="587"
          defaultCredentials="true"
          userName="jimmy.bliss999@gmail.com"
          password="charlie999"
          enableSsl ="true"
        />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
