<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>
    <add key="SaveLocation" value="f:\captures" />
    <add key="MotionSaveLocation" value ="f:\motion"/>
    <add key="FramesPerBroadcast" value="100"/>
    <add key="BacklogCheckMs" value="5000"/>
  </appSettings>
  <connectionStrings configSource="connections.config"/>
  <system.net>
    <mailSettings>
      <smtp from="jimmy.bliss999@gmail.com">
        <network
          host="smtp.gmail.com"
          port="587"
          defaultCredentials="true"
          userName="jimmy.bliss999@gmail.com"
          password="charlie999"
          enableSsl ="true"
        />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
